@{
    ViewBag.Title = "קצת עלינו";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<br />
<img alt="hands" class="active" src="~/Images/hands.jpg" />

