@{
    ViewBag.Title = "Contact";
}
<h2>צור קשר.</h2>

<address>
    ז'בוטינסקי 15<br />
    גבעתיים<br />
    <abbr title="Phone">P:</abbr>
    050-5000-500
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gmail.com">Support@gmail.com</a><br />
</address>