<!DOCTYPE html>
<div class="jumbotron">
    <h1>יד ביד</h1>
    <img alt="hands" class="class1" src="~/Images/hands.jpg" />
    <style>
        .class1 {
            background-image: url('~/Images/hands.jpg');
            width: 1000px;
        }
    </style>

</div>

<html>
<head>
    @{
        ViewBag.Title = "Home Page";
    }

</head>

<body>
    <h1>This is a heading</h1>
    <p>This is a paragraph.</p>
    <p>This is another paragraph.</p>
    <img alt="hands" class="class1" src="~/Images/hands.jpg" />

    <style>
        .class1 {
            background-image: url('~/Images/hands.jpg');
        }
    </style>
</body>
</html>




